body{
	margin: 0%;
}

a{
	text-decoration: none;
}
a:hover{
	color: blue;
	background-color: #ADD8E6;
}

a:active{
	color: black;
}

.logo{
	float:left;
	display: inline-block;
	width:20%;
	max-width: 20%;
	padding: 1%;
}

#slogan{
	display: inline-block;
	width:75%;
	max-width: 75%;
	font-family: Georgia, serif, Courier, monospace;
	line-height: 60%;
	color: #152885;
	font-weight:bold;
	font-size: 400%;
	text-shadow:0px 0px 0 rgb(-11,8,101),1px 1px 0 rgb(-32,-13,80),2px 2px 0 rgb(-54,-35,58),
	3px 3px 0 rgb(-76,-57,36), 4px 4px 0 rgb(-98,-79,14),5px 5px 4px rgba(0,0,0,0.6),
	5px 5px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2);
	padding-top: 7%;
	padding-right:1%;
}

nav{
	display: inline-block;
	width:60%;
}

nav ul{
	display: inline;
}

nav li{
	display: inline-block;
	margin-top: 10%;
	height: 25px;
	vertical-align:bottom;
	border-left: 1px solid grey;
	padding: 2% 1% 0% 2%;
	line-height: 0.5em;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
	font-weight: bold;
    color: #665858;
}

section{
	padding: 1% 0%;
}

#main_image{
	display:block;
	width: 100%;
	height: 25%;
}

#contr{
	display: inline-block;
	width:25%;
	border: 2px solid #ADD8E6;
	border-radius: 10%;
	margin: 2% 2%;
	padding: 5%;
}
.attention{
	font-size: 180%;
	font-weight: bold;
	color: red;
	text-align:center;
}

#contr li{
	line-height: 140%;
    font-size: 140%;
    font-family: Arial;
}

#main{
	display: inline-block;
	width:65%;
	max-width:75%;
}

#contr, #main{
vertical-align: top;
padding: 0.5%;
}

.text_content{
	line-height: 130%;
    font-size: 130%;
    font-family:Helvetica;
	padding: 0% 1% 0% 1%;
}

.text_content p{
	display: inline-block;
	width: 90%;
	max-width:90%;
}

#cmain{
	display: inline-block;
	width:38%;
	max-width:40%;
	padding: 0% 0.5%;
	margin-left: 1.5%;
}

#contact{
	display: inline-block;
	height:100%;
	width:50%;
	border-left: 1px solid #ADD8E6;
	padding: 0% 5%;
	margin: 2% 0.1%;
}

#cmain, #contact{
vertical-align:top;
padding:1%;
}
.cblock_name{
	 font-size: 160%;
	font-weight: bold;
	color: #152885;
}

.form_name{
	font-size: 270%;
	font-weight: bold;
	color: #152885;
	padding-left: 30%; 
	font-family: Rockwell;
}

form{
	font-size: 130%;
	font-family:Helvetica;
	font-weight: bold;
	padding: 0% 5%;
}

select{
	display: block;
	width: 35%;
    height: 10%; 
	max-height:20%;
    padding: 2%;
	font-family:Helvetica;
}

input, select, textarea{
font-family:Helvetica;
font-size: 100%;
padding: 0% 0.1%;
}

#check{
margin-right: 2%;
transform: scale(2);
height:12px;
width:12px;
}

#name,#mail{
display:inline-block;
}

#name{
width: 25%;
}

#mail{
margin-left:20%;
margin-right:0%;
}

#email{
width: 90%;
max-width:100%;
}

#button{
margin-left:35%;
width: 140px;
height: 40px;
font-size: 20px;
text-align:center;
border-radius: 10px;
background-color: #F0FFFF;
}

#button:hover{
background-color: #ADD8E6;
}

#button:active{
background-color: #40E0D0;
}


h1{
	text-align: center;
	font-size: 3em;
}

table{
width: 90%;
border-collapse: collapse;
border-spacing: 0;
}

.price{
	text-align: right;
}

#information{
margin-top:3%;
max-width: 100%;
}

.inform_block{
	display: inline-block;
	max-width: 48%;
	border: 0.1px solid #ADD8E6;
	border-radius: 10%;
	margin: 0% 1%;
	padding:0% 0.5%;
	text-align: center;
	line-height: 120%;
    font-size: 120%;
    font-family:Helvetica;
}

.block_name{
	 font-size: 130%;
	font-weight: bold;
	color: #152885;
}

.more{
	color: #152885;
}

hr{
	width: 90%;
}

footer{
	margin-top: 3%;
	background:  #152885;
	padding: 3% 0%;
}

.bottom p
{
	text-align: center;
	line-height: 120%;
    font-size: 120%;
    font-family: 'Open Sans', sans-serif;
    color: #665858;
}